<%- include("partials/header") -%>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<% const currentFlavours = ["Chocolate", "Vanilla", "Strawberry", "Coconut", "Lime", "Cookies n Cream", "Marshmellow",
"Orange", "Banana", "Raspberry", "Dark Chocolate", "Caramel"]; %>
<% const currentFlavourMonth = ["Matcha", "Sea Salt Choco", "Oreo Brownie"]; %>
<% const currentAdditions = ["Choco Chips", "Banana Chips", "PB Cups", "Popping Boba", "Strawberries", "Gummy Bears",
"Gummy Worms", "M&Ms", "Oreo Chunks", "Fuzzy Peaches", "Coconut Shavings", "Skor"]; %>

<div class="row">
  <div class="col-lg-6">

    <h3>Create Your Ice Cream</h3>
    <!-- Tub Size -->
    <h4>Tub Size</h4>

    <form method="post">
      <div class="container tubSize orderForm text-left">
        <ul class="list-group">
          <ol><input type="radio" name="tubSizeForm" value="14oz"> 14oz - $19.99</ol>
          <ol>
            <input type="radio" name="tubSizeForm" value="16oz"> 16oz - $26.99
          </ol>
          <ol>
            <input type="radio" name="tubSizeForm" value="24oz"> 24oz - $29.99
          </ol>
        </ul>
      </div>

      <!-- Flavours -->
      <h4>Flavours</h4>
      <h5>Select 1-2 Flavours</h5>
      <div class="flavourForm">
        <div class="container orderForm">
          <div class="row">
            <%  for(let i = 0; i < currentFlavours.length; i++){ %>
            <div class="checkbox col-lg-4" >
              <input type="checkbox" name="flavoursCheckbox"> <%=currentFlavours[i];%>
            </div>
            <% ;} %>
          </div>
        </div>


        <!-- Flavour of Month -->
        <h5>Flavours of the Month</h5>

        <div class="container orderForm">
          <div class="row">
            <%  for(let i = 0; i < currentFlavourMonth.length; i++){ %>
            <div class="checkbox col-lg-4" >
              <input type="checkbox" name="flavoursCheckbox"> <%=currentFlavourMonth[i];%>
            </div>
            <% ;} %>
          </div>
        </div>
      </div>


      <!-- Additions -->
      <h4>Additions</h4>
      <div class="container orderForm additionForm">
        <div class="row">
          <%  for(let i = 0; i < currentAdditions.length; i++){ %>
          <div class="checkbox col-lg-4">
            <input type="checkbox" name="additionsCheckbox"> <%=currentAdditions[i];%>
          </div>
          <% ;} %>
        </div>
      </div>
    </form>

    <!-- Confirm Button -->
    <div class="text-center">
      <a href="yourOrder" class="btn submit-btn btn-lg" role="button">Confirm</a>
    </div>
  </div>

  <div class="col-lg-6 ">
    <img class="sidePic float-right" src="orderImage.png" alt="">
  </div>
</div>

<script type="text/javascript">
  // $('input[type=checkbox][name=flavoursCheckbox]').on('change', function(e) {
  //   if ($('input[type=checkbox][name=flavoursCheckbox]:checked').length > 2) {
  //     $(this).prop('checked', false);
  //     alert("you can only select 2 flavours");
  //   }
  // });

  function setupCheckboxGroup(grpName){

$('input[type=checkbox][name='+grpName+']').on('change', function(e) {
  if ($('input[type=checkbox][name='+grpName+']:checked').length < 2) {
    $('input[type=checkbox][name='+grpName+']:not(:checked)').prop('disabled', false);
  }
  if ($('input[type=checkbox][name='+grpName+']:checked').length == 2) {
    $('input[type=checkbox][name='+grpName+']:not(:checked)').prop('disabled', 'disabled');
  }
});

}

setupCheckboxGroup('flavoursCheckbox');
setupCheckboxGroup('additionsCheckbox');
</script>


<%- include("partials/footer") -%>
